<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
    <a href="{{ url_for('db_view') }}">
      <button>View Database</button>
    </a>
    <div class="input-area">
      <h2>Input some text for NER and dependency parsing:</h2>
      <form action="/" method="post">
        <input type="text" name="Text" />
        <input type="submit" value="Submit" />
      </form>
    </div>
    {% if ents %}
    <div class="ents-area">
      <h2>Entities</h2>
      <div class="ents">{{ ents | safe }}</div>
    </div>
    {% endif %} {% if deps %}
    <div class="deps-area">
      <h2>Dependencies</h2>
      <div class="grid-container">{{ deps | safe }}</div>
    </div>
    {% endif %}
  </body>
</html>
